header{
	font-family: serif;
	font-size: 35pt;
	color: #205d79;
	padding: 50px;
	text-align: center;
}

h1{
	width: 600px;
	margin:  auto;
}

body{
	background-color: #f9f8da;



}
a:link{
	color: #e96d2f;

}

ul{
	color: #ffc122;
}
h2{
	font-family: serif;
	font-size: 20pt;
	color: #205d79;
	text-align: center;
	margin-left: 250px;
		
}
nav{
	font-family: serif;
	font-size: 15pt;
	margin-left: auto;

}
h4{
	width: 150px;
	margin: auto;
}
.pequeno{
	font-size: 15pt;
	background-color: #ffc122;
	font-family: serif;
	color: #ffffff;
	text-align: center;
	padding: 3px;
}
